.table-conten-sheets{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    position:relative;
    overflow: auto;
    left: 10px;
    top: 10px;

    --head-color:white;
    --border-color:rgb(180, 180, 180);
    --color-primario:rgb(0, 217, 255);
    --select-color:color-mix(in srgb, var(--color-primario) 20%, white);
    --select-head-color:color-mix(in srgb, var(--select-color) 60%, var(--head-color));
    --select-border-color:color-mix(in srgb, var(--select-color) 60%, black);
    --select-multi-cells-borde:solid color-mix(in srgb, var(--color-primario) 60%, black) 2px;
    --font-size: 13px;
    --font-size-title: calc(var(--font-size) + 1px);
}
.table-object-sheets{
    border-collapse: collapse;
}

.table-object-sheets thead{
    position: sticky;
    top: 40px;
    left: 0px;
    z-index: 10;
    font-weight: bolder;
}

.table-object-sheets thead td{
    background: var(--head-color);
    text-align: center;
    font-size: var(--font-size-title);
    border: solid var(--border-color) 0.5px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px;
    user-select: none;
}

.table-object-sheets thead td:nth-child(1){
    border: none;
    position: sticky;
    left: 0px;
}

.table-object-sheets thead td:nth-child(1):hover{
    background: white;
}

.table-object-sheets tbody td{
    min-width: 100px;
    text-align: center;
    font-size: var(--font-size);
    border: solid var(--border-color) 0.5px;
    padding: 5px;
    user-select: none;
    transition: 0.1s;
    overflow: hidden;
}

.table-object-sheets tbody td:nth-child(1){
    min-width: 20px;
    background: var(--head-color);
    border-left: none;
    border-top: none;
    border-bottom: none;
    position: sticky;
    left: 0px;
    top: 0px;
    z-index: 10;
}

.table-object-sheets tbody tr{
    background: white;
}

.table-object-sheets .table-sheets-celda{
    --selec-type-color:var(--select-color);
    --selec-type-borde:solid;
    --selec-border-width:0.5px;
    --selec-type-with:100px;
    --selec-type-height:25px;
    --selec-type-top:0px;
    --selec-type-left:0px;
    padding: 5px;
    /* display: flex;
    gap: 10px;
    justify-content: space-between; */
}


.table-object-sheets tbody td.select{
    /* background: var(--selec-type-color); */
    border-color: color-mix(in srgb, var(--selec-type-color) 60%, black);
}

.table-object-sheets tbody td.select.matrix::after{
    content: '';
    display: block;
    position: absolute;
    width: var(--selec-type-with);
    height: var(--selec-type-height);
    top:var(--selec-type-top);
    left: var(--selec-type-left);
    background: color-mix(in srgb, var(--color-primario) 5%, #ffffff00);
    border: solid color-mix(in srgb, var(--color-primario) 60%, rgb(0, 0, 0)) 1px;
}

.table-object-sheets tbody td:nth-child(1):hover, .table-object-sheets tbody td:nth-child(1).select , .table-object-sheets thead td.select , .table-object-sheets thead td:hover{
    background: var(--select-head-color);
    border-color: var(--select-border-color);
}

/* Diseño del pagrafo p en la celda */
.table-sheets-celda p{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    gap: 10px;
    animation: sheet-table-cell-pagraf-animate-entrada 0.2s;
}

@keyframes sheet-table-cell-pagraf-animate-entrada {
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}

.table-sheets-celda[data-type="Unit"] p::after{
    --float:right;
    content: attr(data-datatext);
    float: var(--float);
}

.table-object-sheets tbody td[type="List"]{
    cursor: pointer;
}

.table-object-sheets tbody td[type="List"] p::after{
    font-family: bootstrap-icons !important;
    content: "\F229";
    float: right;
    color: rgb(82, 82, 82);
    transition: 0.2s;
}

.table-object-sheets tbody td[type="List"]:hover p::after{
    color: black;
}



.table-object-sheets .table-sheets-celda.table-sheets-celda-selection::before{
    width: var(--selec-type-with);
    height: var(--selec-type-height);
    content: '';
    display: block;
    position: absolute;
    top:var(--selec-type-top);
    left: var(--selec-type-left);
    border: solid color-mix(in srgb, var(--selec-type-color) 60%, black) 2px;
}

.tabla-sheet-seleccion{
    position: absolute;
    user-select: none;
    transition: 0.2s;
    border: var(--select-multi-cells-borde);
}

.tabla-sheet-seleccion input[type="text"]{
    width: calc(100% - 4px);
    height: calc(100% - 2px);
    margin: 0px;
    border: none;
    background: white;
    text-align: end;
    font-size: var(--font-size);
}

.tabla-sheet-seleccion input[type="text"]:focus-visible{
    outline: none;
}

.table-sheets-list-box-selectro-contenedor{
    --color-primario:rgb(0, 217, 255);
    --select-color:color-mix(in srgb, var(--color-primario) 20%, white);
    --select-border-color:color-mix(in srgb, var(--select-color) 60%, black);
    display: inline-block;
    max-height: 200px;
    border-radius: 4px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding-top: 5px;
    padding-bottom: 10px;
    background: white;
    border: solid var(--select-border-color) 0.5px;
    overflow-y: auto;
    position: absolute;
    z-index: 1;
}

.table-sheet-item-selector{
    min-width: 150px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(85, 85, 85);
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 0px;
    user-select: none;
    cursor: pointer;
}

.table-sheet-item-selector .bi{
    color: black;
    font-size: calc(var(--font-size) - 1px);
}

.table-sheet-item-selector span{
    margin-left: 10px;
    margin-right: 10px;
    font-size: var(--font-size);
}

.table-sheet-item-selector:hover{
    background: var(--select-color);
    color: black;
}
.table-sheet-item-selector:hover .bi{
    animation: tabla-seleccion-item-hove-animacion 0.5s;
}

.tabla-sheet-seleccion-visual-range{
    position: absolute;
    height: 20px;
    left: -2px;
    top: -22px;
    font-size: 12px;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
    display: grid;
    align-items: center;
}

.Sheet-table-equation-latex-contenedor{
    min-width: 200px;
    min-height: 50px;
    padding: 20px;
    font-size: 13px;
    pointer-events: none;
}

.Sheet-table-equation-latex-contenedor-padre{
    opacity: 1;
}

@keyframes tabla-seleccion-item-hove-animacion{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(3px);
    }
    100%{
        transform: translateX(0px);
    }
}

.table-sheets-editor-input {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 0px;
    border-bottom: solid var(--select-border-color) 1px;
    border-top: none;
    border-left: none;
    position: sticky;
    left: 0px;
    top: 0px;
    background: white;
    z-index: 100;
}

.table-sheets-function-boton {
    display: inline-block;
    width: 15px;
    padding: 10px;
    fill: rgb(100,100,100);
}

.table-sheets-editor-input-contenedor{
    display: flex;
    width: calc(100% - 40px);
    align-items: center;
    position: relative;
    font-size: 15px;
    font-family: sans-serif;
}

p.table-sheets-editor-input-black {
    width: 100%;
    margin: 0px;
}

.table-sheets-editor-input-contenedor input{
    position: absolute;
    width: 97%;
    background: transparent;
    border: none;
    font-size: 15px;
    font-family: sans-serif;
    color: transparent;
    caret-color:black;
}

.table-sheets-editor-input-contenedor input:focus-visible{
    outline: none;
}

.table-sheets-editor-input-barra{
    animation: table-sheets-editor-input-barra-animacion 1s linear infinite;
}

@keyframes table-sheets-editor-input-barra-animacion {
    0%{
        opacity: 1;
    }
    49%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    99%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}